---
layout: default
---
  
{% include navigation.haml %}

%div.Header.col-12-12
  %div.col-2-12
    %div.Page-type.u-pt3
      %p.small
        Case Study
        %br/
        Last Updated Dec 23, 2016
  %div.col-9-12
    %div.col-9-9
      %h1
        Making Better Group Decisions 
      %hr
    %div.col-9-9
      %h6.sans-serif.bold.statement
        Consectetur adipisicing elit,alias
        at autem magna aliquid quam proident quis aliquam. temporibus minus eius veniam cupidatat ex, voluptas fuga, quos, mollitia incidunt do officia facilis. molestiae consequat excepturi laborum perferendis tempor minim eiusmod minim minus quia sint. 
      %hr
      %div.col-3-9
        %p.bold
          Category
      %div.col-6-9
        %p
          Product Design
          %br
          Visual Design
          %br
          Prototyping

%div.col-12-12
  %div.col-9-12-s2
    %div.col-9-9
      %hr
      %div.col-3-9
        %p.bold
          What
      %div.col-6-9
        %p
          A “Year in Review” of Opera’s innovations in 2016.   
    %div.col-9-9
      %div.col-3-9
        %p.bold
          How
      %div.col-6-9
        %p
          Developing a short animated clip that visually sums up our beginning of year goal, features delivered, and overall achievements Opera for Computers achieved in 2016.
    %div.col-9-9
      %div.col-3-9
        %p.bold
          Why
      %div.col-6-9
        %p
          To inform our fans and followers what we have been up to in 2016 and that we are always worth keeping an eye on. In addition, to remind our teams internally what mission we set out with in 2016, the ways we delivered on it and our overall achievements.

%div.col-12-12
  %div.col-9-12-s2
    %div.col-9-9
      %hr
      %div.col-3-9
        %p.bold
          Story
      %div.col-6-9
        %h3
          Voluptates mollitia quod tempore laboris commgdi
        %p
          Consectetur adipisicing elit, alias at
          %a autem magna
          aliquid quam proident quis aliquam. temporibus minus eius veniam cupidatat ex, voluptas fuga, quos, mollitia incidunt do officia facilis. molestiae consequat excepturi laborum perferendis tempor minim eiusmod minim minus quia sint.
        %ol
          %li Perferendis tempor
          %li Minim eiusmod
          %li Tempor
          %li Minus quia sint
        %h4
          Reppalat Optio
        %h6
          Section 1
        %p
          Consectetur adipisicing elit, alias at autem magna aliquid quam proident quis aliquam. temporibus minus eius veniam cupidatat ex, voluptas fuga, quos, mollitia incidunt do officia facilis. molestiae consequat excepturi laborum perferendis tempor minim eiusmod minim minus quia sint.

%div.col-12-12
  %div.col-9-12-s2
    %div.col-9-9
      %hr
      %h2
        Chris has helped us position our managed workspace offer to attract the right type of clients. 

%div.col-12-12
  %div.col-9-12-s2
    %hr
  %img.u-mb1(src="https://cdn-images-1.medium.com/max/2000/1*kOx2oUFQrrXhbUF9CMQHog.jpeg")
  %div.col-9-12-s2
    %div.col-3-9
      %p.small.gray
        %span.bold Figure 1 
        elit,alias at autem magna aliquid quam proident quis aliquam. temporibus minus eius veniam cupidatat ex, voluptas fuga, quos, mollitia incidunt do officia facilis.

%div.col-12-12
  %div.col-9-12-s2
    %div.col-9-9
      %hr
      %div.col-3-9
        %p.bold
          Story
      %div.col-6-9
        %h3
          Voluptates mollitia quod tempore laboris commgdi
        %p
          Consectetur adipisicing elit, alias at autem magna aliquid quam proident quis aliquam. temporibus minus eius veniam cupidatat ex, voluptas fuga, quos, mollitia incidunt do officia facilis. molestiae consequat excepturi laborum perferendis tempor minim eiusmod minim minus quia sint.
   
%div.col-12-12
  %div.col-9-12-s2
    %div.col-9-9
      %hr
      %div.col-3-9
        %p.bold
          Related Links
      %div.col-6-9
        %p
          %a Medium
          %br
          %a Medium
          %br
          %a Medium
      %hr

{% include footer.haml %}
